/* website building blocks */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   width: 100%;
   height: 100vh;
   background-color: rgb(255, 255, 255);
   overflow-x: hidden; /* Hide horizontal scrollbar */
   flex-direction: column;
   min-height: 100vh;
   animation: transitionIn 2s;
}


nav{
   padding: 0 50px;
   width:100%;
}

.menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-top{
   background-color: hsl(28, 22%, 47%);
   height: 40px;
   text-align: center;
}

.center > div {
   margin-left: 605px;
   font-family: 'Ubuntu', sans-serif;
   color: #fff;  

}

.navbar-bottom{
   background-color: #fff;
   height: 58px;
}

.logo {
   height: 125px;
   width: 260px;
   margin-left: -40px;
}

li {
   list-style: none;
}

a{
   text-decoration: none;
   text-transform: capitalize;
   font-size: 25px;
   margin-left: 30px;
   color: #4b2506;
   font-family: 'Oswald', sans-serif;

}

a:hover{ 
   color: #92765e;
}

a:active{ 
   color: #4b2506;
}


.insta {
   height: 40px;
   width: 40px;
   position: absolute;  
   top: 0.5px;
   left: 670px;
}

.cart {
   height: 35px;
   width: 40px;
   position: absolute;  
   top: 0.75px;
   left: 765px;
}


.footer-container {
background-color: hsl(28, 22%, 47%);
padding-bottom: 4em;
box-sizing: border-box;
position: sticky;
top: 100%;
}

.footer {
   width: 100%;
   height: 150px;
   background-color: hsl(28, 22%, 47%);
   color: #4b2506;
   display: flex; 
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 auto;
   }

   .footer-heading {
   display: flex;
   flex-direction: column;
   margin-right: 4rem;
   }

   .footer-heading h2 {
      margin-bottom: 2rem;
      font-size: 25px;
      font-family: 'Ubuntu', sans-serif;
      color: #4b2506;
      position: relative;
      top: 10px;
      left: 30px;
   }

   .footer-heading a {
      color: #4b2506;  
      text-decoration: none;
      text-transform: none;
      font-size: 20px;
      left: 50px;
   }

/* website animation */
@keyframes transitionIn {
   from {
   opacity: 0;
   transform: rotateX(0);
   }
   to {
      opacity: 1;
      transform: rotateX(0);
   }

}
/* website animation */

/* website building blocks */
/* disable mobile menu */

.mobile-menu {
   display: none;
}

.hamburger {
   display: none;
}

/* disable mobile menu */
/* home */
.slide1 {
position: relative;
top: 32.5px;
left: 0px;
height: 675px;
width: 100%;
max-height: 630px;
}

.newway {
   position: absolute;
   top: 300px;
   left: 645px;
   font-family: 'Oswald', sans-serif;
   font-size: 70px;
}


.form {
   position: absolute;
   top: 400px;
   left: 650px; 
   font-family: 'Oswald', sans-serif;
   font-size: 35px;
}

.button {
   display: inline-flex;
   height: 50px;
   padding: 0;
   background: #92765e;
   border: none;
   outline: none;
   border-radius: 5px;
   overflow: hidden;
   font-family: 'Oswald', sans-serif;
   font-size: 22.5px;
   cursor: pointer;
   position: absolute;
   top: 460px;
   left: 645px;
}

.button:hover {
   background: #8a6f58;
}

.button:active {
   background: #715c4a;
}

.button__text,
.burron__icon {
   display: inline-flex;
   align-items: center;
   padding: 0 24px;
   height: 100%;
   overflow: hidden;
}

.popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}

.contentBox {
  position: relative;
  width: 600px;
  height: 400px;
  background:rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
} 

.contentBox .imgBx {
   position: relative;
   width: 300px;
   height: 340px;
   display: flex;
   top: 28px;
   left: 5px;
}

.contentBox .offer {
position: relative;
width: 300px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}


.contentBox .offer h3{
   color: #4b2506;
   font-size: 50px;
   font-family: 'Ubuntu', sans-serif;
}

.contentBox .offer p{
   color: #4b2506;
   font-size: 25px;
   font-family: 'Ubuntu', sans-serif;
}

.contentBox .offer a {
display: inline-block;
padding: 10px 20px;
background: #92765e;
margin-top: 15px;
margin-left: 5px;
text-decoration: none;
border-radius: 5px;
}

.close {
   position: absolute;
   top: 15px;
   right: 20px;
   width: 35px;
   height: 35px;
   background: #f3f3f3; 
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   border-radius: 50%;
   z-index: 10;
}

/* home */

/* contact us */

.container4 h2 {
  font-family: 'Oswald', sans-serif;
 position: relative;
  top: 10px;
  left: 300px;
  font-weight: 400;
  font-size: 32px;
}

.container4 form {
display: flex;
flex-direction: column;
width: 24rem;
gap: 1rem;

}

.container4 input, select, textarea {
   padding: 1.4rem;
   background: transparent;
   border: 1px solid #4b2506;
   position: relative;
   top: 10px;
   left: 300px;
}

.container4 button {
   height: 50px;
   padding: 0;
   background: #92765e;
   border: none;
   outline: none;
   border-radius: 5px;
   overflow: hidden;
   font-family: 'Oswald', sans-serif;
   font-size: 22.5px;
   cursor: pointer;
   position: relative;
   left: 300px;
}

.container4 h3 {
   position: relative;
   top: -392px;
   left: 850px;
   font-family: 'Oswald', sans-serif;
   color: #4b2506;
}

.contactlogo {
  position: absolute;
  top: 400px;
  height: 125px;
 width: 260px;
 left: 890px;

}

/* products */

.productimg1 {
   position: relative;
   top: 32.5px;
   left: 30px;
   height: 453px;
   width: 457px;
   border-radius: 20px;
}

.container6 p {
  font-family: 'Oswald', sans-serif;
  font-size: 22.5px;
  position: relative;
  top: 23px;
  left: 60px;
}


.container6 p1{
   font-family: 'Oswald', sans-serif;
   color: red;
   font-weight: 600;
   position: relative;
   top: 20px;
   left: 60px;
}

.slidershow {
   width: 604px;
   height: 610px;
   overflow: hidden;
   border-radius: 20px;
}

.middle {
   position: relative;
   top: 32.5px;
   left: 62.5px;
}

.navigation {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
display: flex;
}

.bar {
   width: 50px;
   height: 10px;
   border: 2px solid #fff;
   margin: 6px;
   cursor: pointer;
   transition: 0.4s;
}

.bar:hover{
   background: #715c4a;
}

input[name="r"]{
position: absolute;
visibility: hidden;
}

.slides{
width: 500%;
height: 100%;
display: flex;
}

.slide{
   width: 20%;
   transition: 0.6s;
}

.slide img {
width: 100%;
height: 100%;
}

#r1:checked ~ .s1 {
margin-left: 0;
}

#r2:checked ~ .s1 {
margin-left: -20%;
}
#r3:checked ~ .s1 {
margin-left: -40%;
}
#r4:checked ~ .s1 {
margin-left: -60%;
 }

 .container8{
   visibility: hidden;
 }

 .container9{
   font-family: 'Oswald', sans-serif;
   font-size: 35px;
   position: relative;
   left: 750px;
   top: -500px;
 }

 .container9 p{
   font-family: 'Oswald', sans-serif;
   font-size: 25px;
 }

 .container9 h3{
   visibility: hidden;
   font-size: 5px;
 }

 .payhip-add-to-cart-button {
   padding: 0;
   background: #92765e;
   border: none;
   outline: none;
   border-radius: 5px;
   font-family: 'Oswald', sans-serif;
   font-size: 22.5px;
   cursor: pointer;
   position: relative;
   left: 720px;
   top: -490px;
 }

.container10 p{
   font-family: 'Ubuntu', sans-serif;
   max-width: 600px; 
   position: relative;
   left: 750px;
   top: -480px;
}

.container10 h2{
   font-family: 'Oswald', sans-serif;
   max-width: 600px; 
   position: relative;
   left: 750px;
   top: -480px;
}
/* products */

/* about us*/

.container5 h2 {
   font-family: 'Oswald', sans-serif;
   font-size: 30px;
   font-weight: 200;
   position: relative;
   top: 85px;
   left: 67.5px;
}

.container5 p {
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px;
   font-weight: 200;
   max-width: 600px;
   position: relative;
   top: 85px;
   left: 67.5px;
   color: #000000;
}

.abtus {
   position: relative;
   top: -125px;
   left: 770px;
   height: 300px;
   widows: 360px;
}

/* about us*/ 

 /* f&q */

 .productfq1 {
   position: relative;
   top: 32.5px;
   left: 989.5px;
   height: 482.5px;
   width: 482.5px;
   border-radius: 10px;
 }
 
 #accordion {
   width: 600px;
   position: relative;
   top: -455px;
   left: 60px;
 }

 #accordion li{
  list-style: none;
  width: 800px;
  margin-bottom: 10px;
  background: rgb(240, 238, 238);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
 }

 #accordion li label{
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   color:#4b2506;
   font-size: 22px;
   font-family:'Oswald', sans-serif;
 }

 #accordion li label span{
transform: rotate(90deg);
font-size: 22px;
color: #4b2506;
 }

 #accordion label + input[type="radio"]{
display: none;
 }

 #accordion .container7{
   padding: 0 10px;
   line-height: 26px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s;
 }

 #accordion label + input[type="radio"]:checked + .container7{
  max-height: 400px;
 }

 /* f&q */

  /* responsive design */

  @media only screen and (max-width: 391px) {

   /* website building blocks */
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
     }
   
   .logo {
   height: 125px;
   width: 260px;
   position: relative;
   top: 0px;
   left: 15px;
   overflow: hidden;
  }
     
   .navbar-top{
   background-color: hsl(28, 22%, 47%);
   height: 40px;
   width: 100%;
   position: relative;
   max-width: 391px;
   padding: 0px 0px;
   }
   
   .center > div {
   margin-left: 90px;
   font-family: 'Ubuntu', sans-serif;
   color: #fff;

   }
      
   .navbar-bottom{
   background-color: #fff;
   padding: 0 0;
   overflow: hidden;
   }    
  
    
   .navbar-bottom li{
      display: none;
      }

      
   /* website building blocks */
   
   /* hamburger menu */
   
   .hamburger{
      display: block;
      cursor: pointer;
      position: absolute;
      top: 82.5px;
      left: 320px;
      overflow: hidden;
   }

   .bar {
      display: block;
      width: 40px;
      height: 5px;
      margin: 5px auto;
      outline: none;
      border: none;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #4b2506;
   }

   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
   }

   .mobilemenu ul {
      font-size: 100px;
   }
   
  .mobile-menu {
   display: flex;
   position: absolute;
   top: 165px;
   left: -200px;
   gap: 0;
   flex-direction: column;
   background-color: #fff;
   width: 100%;
   text-align: center;
   transition: 0.3s;
   opacity: 0;
   z-index: 3;
   }

   .mobile-menu.active {
      opacity: 100;
      position: absolute;
      top: 165px;
      left: 0px;
      transition: 0.7s ease;
      gap: 0;
   }
   .nav-item {
      margin: 16px 0;
      display: flex;
   }

   .nav-item.active {
      left: 0;
   }

   .nav-link {
      transition: 0.7s ease;
   }

   .nav-link:hover{
      color: #715c4a
   }
   /* hamburger menu */

   /* home */
   .slide1{
   position: relative;
   top: 32.5px;
   height: 250px;
   margin-left: -60px;
   width: 600px;
   max-height: 630px;
   }

   .newway {
      position: relative;
      top: -160px;
      left: 195px;
      font-family: 'Oswald', sans-serif;
      font-size: 19px;
      max-width: 200px;
   
   }
   
   
   .form {
      position: relative;
      top: -160px;
      left: 195px;
      font-family: 'Oswald', sans-serif;
      font-size: 13px;
      max-width: 200px;
   }
   
   .button {
      display: inline-flex;
      height: 35px;
      width: 105px;
      padding: 0;
      background: #92765e;
      border: none;
      outline: none;
      border-radius: 5px;
      overflow: hidden;
      font-family: 'Oswald', sans-serif;
      font-size: 13px;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      top: -165px;
      left: 165px;
   }
   
   .button:hover {
      background: #8a6f58;
      text-decoration: none;
   }
   
   .button:active {
      background: #715c4a;
      text-decoration: none;
   }
   
   .button__text,
   .burron__icon {
      display: inline-flex;
      align-items: center;
      padding: 0 21px;
      height: 100%;
      text-decoration: none;
      overflow: hidden;
   }

   /* home */

   /* popup */
   
   .contentBox {
   display: none;
   } 
   
   .contentBox .imgBx {
   display: none;
   }


   
/* mobile footer */
 
.footer-heading h2 {
      margin-bottom: 2rem;
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif;
      color: #4b2506; 
      position: relative;
      top: 20px;
      left: 30px;
}

.footer-heading a {
   color: #4b2506; 
   text-transform: none;
   font-family: 'Ubuntu', sans-serif;  
   font-size: 17.5px;
   left: 50px;
}

.footer-1 {
   display: none;
}

.footer-2 {
   margin-left: -20px;
}

.footer-3 h2 {
margin: 0px 30px 0px 0px;
}

.footer-3 a {
margin: 30px 0px 0px 30px;
}

.footer-4 {
   margin-left: -35px;
}

.footer-heading {
   margin-right: 1rem;
}

.footer {
   overflow-y: hidden;
   height: 30vh;
   position: sticky;
   top: 100%;
}
     
     /* products */

.productimg1 {
   position: relative;
   top: 31px;
   left: 15px;
   height: 300px;
   width: 300px;
   border-radius: 20px;
}

.container6 p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  position: relative;
  top: 24px;
  left: 45px;
}


.container6 p1{
   font-family: 'Oswald', sans-serif;
   color: red;
   font-weight: 600;
   position: relative;   top: 20px;
   left: 45px;
   top: 22px;
}
  }

